paikkain.log
testiaineisto/*
requirements.in

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Byte-compiled / optimized / DLL files
*.py[codz]
*$py.class

# Standard stuff
.eric6project/
.eric7project/
.ropeproject/
.jedi/
.directory/
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
.pytest_cache/
venv/
.venv/
env/
.env/
